{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  <!--check out for loop-->
  {% if error1 %}<p class="error"><strong>Error:</strong> {{ error1 }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type="text" name="username">
      <dt>Password:
      <dd><input type="password" name="password">
      <dd><input type="submit" value="Login">
    </dl>
  </form>

  <h2>Register</h2>
  {% if error2 %}<p class="error"><strong>Error:</strong> {{ error2 }}{% endif %}
  <form action="{{ url_for('add_user') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type="text" name="username">
        <dt>Password:
        <dd><input type="password" name="password">
        <dt>Fav Food:
        <dd><input type="text" name="favfood">
        <dt>First Name:
        <dd><input type="text" name="firstname">
        <dt>Last Name:
        <dd><input type="text" name="lastname">
        <dd><input type="submit" value="Register">
      </dl>
    </form>
{% endblock %}
