<!doctype html>
    <title>Upload Image</title>
    <h1>Upload Image</h1>
    {% if submit %}
        {% if error %}
            There was something wrong with your submission. Please fix the following: <br>
            <ul>
                {% for e in error %}
                    <li>{{ e }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <form action="" method=post enctype=multipart/form-data id="upload">
      <p><input type=file name=file><br>
         <b>Title your image*: </b><br>
         <input type=text name=title><br>
         <b>Add a description: </b><br>
         <textarea form="upload" name="description"></textarea><br>
         <b>Location: </b><br>
         <input type=text name=location><br>
         <input type=submit value=Upload>
    </form>
    {% if submit %}
        {% if error %}
        {% else %}
        Success! The picture you uploaded: <br>
        <img src="{{ url_for('static', filename=filename) }}"><br>
        Title: {{ info['title'] }} <br>
        Description: {{ info['description'] }} <br>
        Location: {{ info['location'] }} <br>
        {% endif %}
    {% endif %}