{% extends "base.html" %}
<!doctype html>
{% block sub_heading %} Login/Register {% endblock %}

{% block body %}
  <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  -->
  <div class=page>
    <h1>Pic-y Eats!</h1>
  <!--old login logout system I set up lol

  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Login</a>
    {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>

  {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
  {% endfor %}

  -->

  <style>
    .page h1 {
      text-align: center;
    }
  </style>


  <div class="container">
    <h2>Login</h2>

    {% if error1 %}<p class="error"><strong>Error:</strong> {{ error1 }}{% endif %}

    <form role="form" action="{{ url_for('login') }}" method=post enctype=multipart/form-data id="upload">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label for="pw">Password:</label>
        <input type="password" class="form-control" id="pw" name="password" placeholder="Enter password">
      </div>

      <button type="submit" class="btn btn-info" value="Login">Login</button>
    </form>

  </div>
  <br><br><br>
  <!--Code Prestyling

  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type="text" name="username">
      <dt>Password:
      <dd><input type="password" name="password">
      <dd><input type="submit" value="Login">
    </dl>
  </form>

  -->
  <div class="container">
    <h2>Register</h2>
    {% if new %}
    {% else %}
      {% if good %}
        Success! You have made an account. Here's what we got: <br>
        Username: {{ info['username'] }} <br>
        Password: {{ info['password'] }} <br>
        Favorite food: {{ info['favfood'] }} <br>
        First Name: {{ info['firstname'] }} <br>
        Last Name: {{ info['lastname'] }} <br>
      {% else %}
        There was something wrong with your submission. Please fix the following: <br>
          <ul>
            {% for e in error %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
      {% endif %}
    {% endif %}

    <form role="form" action="{{ url_for('add_user') }}" method=post enctype=multipart/form-data id="upload">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label for="pw">Password:</label>
        <input type="text" class="form-control" id="pw" name="password" placeholder="Enter password">
      </div>

      <div class="form-group">
        <label for="favfood">Favorite food:</label>
        <input type="text" class="form-control" id="favfood" name="favfood" placeholder="Enter favorite food">
      </div>

      <div class="form-group">
        <label for="firstname">First name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
      </div>

      <div class="form-group">
        <label for="username">Last name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
      </div>

      <button type="submit" class="btn btn-info" value="Register">Register</button>
    </form>
  </div>

  <!--Code pre-styling
    <form action="{{ url_for('add_user') }}" method=post>
        <dl>
          <dt>Username:
          <dd><input type="text" name="username">
          <dt>Password:
          <dd><input type="password" name="password">
          <dt>Fav Food:
          <dd><input type="text" name="favfood">
          <dt>First Name:
          <dd><input type="text" name="firstname">
          <dt>Last Name:
          <dd><input type="text" name="lastname">
          <dd><input type="submit" value="Register">
        </dl>
      </form>
   </div>
  -->
{% endblock %}
</html>
